html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;

  overflow-x: hidden;

  background-color: #ffe01b;
}

main {
  width: 74%;
  margin-left: 8px;

  background-color: #fff;
}

.header__logo {
  width: 38px;
  margin: 12px;
}

.background-image {
  position: absolute;
  right: -325px;

  width: 729px;
  height: 812px;

  background: no-repeat;
  background-image: url(../assets/images/background-img.png);
}
