html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #007c89;
}

a:hover {
  color: #004e56;
}

p {
  line-height: 120%;
}

body {
  display: flex;

  overflow-x: hidden;

  background-color: #ffe01b;
}

.main-section {
  display: flex;
  flex-direction: column;

  width: 74%;
  margin-left: 8px;

  background-color: #fff;
}

.main-section__header-logo {
  width: 38px;
  margin: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 545px;
  margin-top: 60px;
  margin-right: 55px;
  margin-bottom: 110px;
}

.form__title {
  font-weight: normal;
  font-size: 38px;
}

.form__subtitle {
  font-size: 15px;
  line-height: 140%;
}

.form__login-link {
  text-decoration: none;
}

.form__label {
  padding: 20px 0 7px 0;

  font-weight: bold;
}

.form__text-input {
  height: 45px;
  padding-top: 3px;
  padding-left: 13px;

  background-color: #fff;
  border: 1px solid #bcbab8;
  border-radius: 2px;

  transition: border 0.1s ease-in;
}

.form__text-input:focus {
  border: 2px solid #007c89;
}

.form__username-hint {
  margin-top: 8px;

  color: #707070;
  font-weight: bold;
  font-size: 14px;

  opacity: 0;

  transition: opacity 0.3s ease-in;
}

.animation-show {
  opacity: 1;
}

.animation-hide {
  opacity: 0;
}

.form__password-block {
  position: relative;

  display: flex;
  flex-direction: column;
}

.form__show-label {
  position: absolute;
  top: 17px;
  right: 0;

  color: #007c89;
  font-weight: bold;
}

.form__show-label:hover {
  color: #004e56;
}

.form__show-label_hidden {
  display: none;
}

.form__show-icon {
  margin-right: 10px;
}

.form__password-validation-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height: 80px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;

  font-size: 14px;

  list-style-type: none;
}

.form__password-validation-list_hidden {
  display: none;
}

.form__validation-point {
  margin: 3px 0;
}

.form__validation-point_validated {
  color: #bdbbb9;
}

.form__validation-bullet_validated {
  background-color: #bdbbb9 !important;
}

/* For accessibility reasons */
.form__validation-point::before {
  content: '\200B';
}

.form__validation-bullet {
  display: inline-block;

  width: 8px;
  height: 8px;
  margin-right: 8px;

  background-color: #007c89;
  border: 1px transparent;
  border-radius: 50%;
}

.form__password-success-text {
  margin: 25px 0 35px 0;
  padding: 12px;

  font-weight: bold;
  font-size: 15px;

  background-color: #d8eacc;
  border: 1px transparent;
  border-radius: 2px;
}

.form__password-success-text_hidden {
  display: none;
}

.form__password-success-icon {
  margin-right: 13px;

  font-size: 20px;
}

.form__sign-up-block {
  display: flex;
  flex-wrap: wrap;
}

.form__sign-up-btn {
  width: 142px;
  height: 48px;

  color: #fff;
  font-weight: bold;

  background-color: #007c89;
  border: 1px transparent;
  border-radius: 2px;
}

.form__sign-up-btn:hover {
  background-color: #006e7a;

  cursor: pointer;
}

.form__sign-up-btn:disabled {
  color: #bdbbb9;

  background-color: transparent;
  border: 1px solid #dedddc;

  pointer-events: none;
}

.form__email-list-checkbox {
  position: relative;

  width: 24px;
  height: 24px;
  margin-right: 12px;
  margin-left: 32px;

  background-color: #fefefe;
  border: 1px solid #bcbab8;
  border-radius: 2px;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.form__email-list-checkbox:focus {
  border: 2px solid #007c89;
}

.form__email-list-checkbox:checked {
  background-color: #017c89;
  border: 2px solid #007c89;
}

.form__email-list-checkbox:checked::before {
  position: absolute;
  top: 1px;
  left: 4px;

  display: block;

  color: #fff;

  content: '\2713';
}

.form__email-list-label {
  width: 300px;

  font-size: 14px;
  line-height: 140%;
}

.form__consent {
  margin-top: 40px;
}

.form__consent-text {
  font-size: 14px;
}

.footer__copyright {
  width: 700px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.footer__copyright-text {
  color: #707070;
  font-size: 13px;
}

.footer__copyright-text a {
  color: #707070;
}

.footer__copyright-text a:hover {
  color: #004e56;
}

.background-image {
  position: absolute;
  right: -325px;

  width: 729px;
  height: 812px;

  background: no-repeat;
  background-image: url(../assets/images/background-img.png);
}
